

/* Positions: */
.top_footer{
	position: absolute;
	top: 12.5%;
	left: 12.5%;
	width: 75%;
	height: 8%;
}

.bottom_footer{
	position: absolute;
	top: 87.5%;
	left: 12.5%;
	width: 75%;
	height: 8%;

}

.left_sidenav{
	position: absolute;
	top: 87.5%;
	left: 12.5%;
	width: 75%;
	height: 75%;
	transform: translate(-50%,-50%);
}

.right_button{
	position: absolute;
	left: 82%;
	top: 50%;
	transform: translate(0,-50%);
	
}

.left_pos_nav{
	position: absolute;
	left: 0;
}

.center {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* mainbox features */
.mainbox{
	position: absolute;
	border: 1px solid var(--metro_secondary);
	width: 75%;
	height: 75%;
  padding: 5px;
	overflow: auto;
	overflow-y: scroll;
}
.center-modal{
	top: 30%;
	right: 50%;
}
.center-modal .closebtn {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 24px;
}
.modal-title-left{
	position: absolute;
  left: 7%;
	top: 3%;
}
.modal-icon-left{
	position: absolute;
  left: 3%;
	top: 5%;
}

/* The side navigation menu */
.sidenav {
  height: 75%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 12; /* Stay on top */
  top: 12.5%;
  left: 12.5%;
  background-color: var(--metro_secondary); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--metro_emissive);
  display: block;
  transition: 0.3s;
	white-space: nowrap;
  overflow: hidden;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--metro_energy);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 24px;
}

.sidenav .addchat {
  position: absolute;
  top: 2%;
	right: 75%;
  font-size: 24px;
}

.sidenav sidenav-img-pos{
	position: absolute;
	transform: translate(-100%, -50%);
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* bottom footer */
.bottom_input{
	width: 50%;
	height: 50%;
	top: 50%;
	right: 50%;
	border: 0;
	padding-left: 1.2%;
	text-align: left;
	outline: none;
	border-radius: 20px;
	transform: translate(50%,50%);
}

.bottom_button{
	/* width: 10%;
	height: 10%; */
  background: none;
  border: 2px solid var(--metro_primary);
  padding: 1.5em 3em;
	line-height: 0;
  outline: none;
  color: var(--metro_energy);
  border-radius: 20px;
  cursor: pointer;
	text-align: center;
}
.bottom_button:hover{
  background: var(--metro_primary);
}

/* top footer */
.top-footer-burger{
	position: absolute;
	left: 4.5%;
	top: 50%;
	transform: translate(0,-50%);
}

.top-footer-options{
	position: absolute;
	right: 4.5%;
	top: 50%;
	transform: translate(0,50%);
}

.top-footer-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.top-footer-img{
	position: absolute;
	width: 64px;
	height: 64px;
	text-align: center;
	top: 50%;
	left: 0;
	transform: translate(-125%,-50%);
	border-radius: 50%;
}

.top_footer span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--metro_emissive);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.top_footer span:hover {
  color: var(--metro_energy);
}


/* Dropdown menu */
.dropdown-menu-colors {
position: absolute;
left: 300%;
transform: translate(50%, 0);
}


.infront{
	z-index: 10;
}


/* NavBar */
.top-right-user{
	position: relative;
	height: 0%;
	right: 0%;
	transform: translate(0, 0%);
	border: 0;
	
}
.top-right-user:focus{
	outline: 0;
}

.topnav-right {
  float: right;
}
