/* Rain effects */
html{
  height:100%;
}
body {
	overflow:hidden;
}

.drop {
  background: var(--metro_tertiary);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
	z-index: 3;
  
}
/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}
