.palette_space{
  margin: 0 1.5em 0 1.5em;
}

.center-modal{
	top: 30%;
	right: 50%;
}
.center-modal .closebtn {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 24px;
}
.modal-title-left{
	position: absolute;
  left: 7%;
	top: 3%;
}
.modal-icon-left{
	position: absolute;
  left: 3%;
	top: 5%;
}
