/* Feminine Color Palette: */
:root{
	--metro_primary: #E5608D;
	--metro_secondary: #FCC5DA;
	--metro_tertiary: #FAE9F3;
	--metro_accents: #DF8DB3;
	--metro_emissive: #DF8DB3;
	--metro_energy: #1a1a1a;
}
