/* Minecraft Color Palette: */
:root{
	--metro_primary: #8FCA5C;
	--metro_secondary: #854F2B;
	--metro_tertiary: #61371F;
	--metro_accents: #61371F;
	--metro_emissive: #C28340;
	--metro_energy: #70B237;
}
