/* tf2 blu Color Palette: */
:root{
	--metro_primary: #527C9A;
	--metro_secondary: #99C2D8;
	--metro_tertiary: #F5B88C;
	--metro_accents: #527C9A;
	--metro_emissive: #527C9A;
	--metro_energy: #1a1a1a;
}
