/* Tropical Color Palette: */
:root{
	--metro_primary: #f890e7;
	--metro_secondary: #0bd3d3;
	--metro_tertiary: #d0d0d0;
	--metro_accents: #f0f0f0;
	--metro_emissive: #e0e0e0;
	--metro_energy: #f890e7;
}
