/* Discord Dark Color Palette: */
:root{
	--metro_primary: #1e2124;
	--metro_secondary: #7289da;
	--metro_tertiary:#595d63;
	--metro_accents: #424549;
	--metro_emissive: #36393e;
	--metro_energy: #f0f0f0;
}

