/* Reddit Color Palette: */
:root{
	--metro_primary: #f0f0f0;
	--metro_secondary: #FF5700;
	--metro_tertiary: #FF8b60;
	--metro_accents: #ffffff;
	--metro_emissive: #36393e;
	--metro_energy: #1a1a1a;
}


