{% extends "base.html" %}
{%block title%}MetroCreate{%endblock%}

{%block content%}
<link rel="stylesheet"  type = "text/css" href="{{url_for('static',filename = 'css/support.css')}}">
<form method = "POST" action = "/support/create">
	<div class="post-center" style="background-color:var(--metro_secondary);color:var(--metro_energy)">
		<div class= "container">
			<h1 style="color:var(--metro_primary);text-align:center;font-family:metro">MetroPost</h1>
		</div>
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" id="title" name = "title" placeholder="Enter your posts name" minlength="3">
		</div>
		<div class="form-group">
			<label for="body">Body</label>
			<textarea type="text" class="form-control" id="body" placeholder="Enter text" name ="body" minlength="3"></textarea>
		</div>
		<input id = "sbmtbtn" type="submit" class="btn btn-primary" value = "Submit" style="background-color:var(--metro_accents)" name ="submit"><p>{{err}}</p>
	</div>
</form>
{%endblock%}