{% extends "base.html" %}
{%block title%}MetroSupport{%endblock%}

{%block content%}
	{% for post in posts%}
	<hr>
	<div class= "container" style="color:var(--metro_energy)">
		<ul class="list-group" style="background-color:var(--metro_secondary)">
			<li class="list-group-item"style="background-color:var(--metro_accents);color:var(--metro_primary)">
				<h3>{{post.title}}</h3>
			</li>

			<li class="list-group-item" style="background-color:var(--metro_secondary)">
				<small>Created on {{post.time_created}} by {{post.author}}</small>
			</li>
			<li class ="list-group-item" style="background-color:var(--metro_secondary)">
				<a class ="btn btn-default" href="/support/post/{{post.string_id}}" style="color:var(--metro_primary)">Read More</a>
			</li>

		</ul>
	</div>

	{%endfor%}
	<hr>
{%endblock%}