{% extends "base.html" %}
{%block title%}MetroSupport{%endblock%}

{%block content%}
<div class= "container">
	<h1 style="color:var(--metro_primary);text-align:center;font-family:metro">Metro Posts<a class="far fa-plus-square" href = "/support/create" style="color:var(--metro_energy);text-decoration:none"></a></h1>
</div>

	{% for post in posts%}
	<hr>
	<div class= "container" style="color:var(--metro_energy)">
		<ul class="list-group" style="background-color:var(--metro_secondary)">
			<li class="list-group-item"style="background-color:var(--metro_tertiary);color:var(--metro_primary);font-family:metro">
				<h3 >{{post.title}}</h3>
			</li>

			<li class="list-group-item" style="background-color:var(--metro_secondary)">
				<small>Created on {{post.time_created}} by {{post.author}}</small>
			</li>
			<li class ="list-group-item" style="background-color:var(--metro_secondary)">
				<a class ="btn btn-default" href="/support/post/{{post.string_id}}" style="color:var(--metro_primary)">Read More</a>
			</li>

		</ul>
	</div>

	{%endfor%}
	<hr>
{%endblock%}