
.box{
	width: 30%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: var(--metro_secondary);
	border-radius: 25px;
	margin: auto;
}

@media only screen and (max-width: 2560px) and (max-height: 1440px) {
	.box{
		width: 25%;
		padding: 20px;	
	}

	.h1{
		font-size: 22px;
	}
	.label{
		font-size: 10px;
	}
	.p{
		font-size: 5px;
	}
}

.box input[type = "text"],.box input[type = "password"],.box input[type = "email"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--metro_energy);
  padding: 14px 10px;
  width: 70%;
  outline: none;
  color: var(--metro_energy);
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus{
  width: 75%;
  border-color: var(--metro_primary);
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--metro_primary);
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: var(--metro_primary);
}
