.rail {
	position: absolute;
  height: 5px;
  width: 50%;
  background-color: var(--metro_tertiary);
  border-radius: 24px;
}

.rail-bottom{
	top: 70%;
	left: 50%;
	transform: translate(-50%,0);
}
.rail-top{
	top: 30%;
	left: 50%;
	transform: translate(-50%,0);
}
.train{
	position: absolute;
	width: 30%;
	height: 10%;
	z-index: -2;
}
.train-moving-right{
  animation: move-right 30s infinite;
}
.train-moving-left{
  animation: move-left 30s infinite;
}

.train-bottom{
transform: scaleY(-1);
top: 70%;
left: 0;
}

.train-top{
top: 20%;
left: 10%;
}

@-webkit-keyframes move-right {
	from {margin-left:-30%}
	to {margin-left:100%;}
}

@-webkit-keyframes move-left {
	from {margin-left:300%;}
	to {margin-left:-30%;}
}

.train-hider-color{
  background-color: #101010;
}

.train-hider-right{
	position: absolute;
	top: 0;
	left: 75%;
	width: 25%;
	height: 100%;
	z-index: -1;
}

.train-hider-left{
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	z-index: -1;
}

.train-fade-box{
	position: absolute;
	/* background-color: linear-gradient(transparent,#101010); */
	width: 5%;
	height: 10%;
	z-index: 1;
}
.fade-left{
	background-image: linear-gradient(to left, #101010,transparent);
}
.fade-right{
	background-image: linear-gradient(to right, #101010,transparent);
}

.top-left-fade{
	top: 21%;
	left: 25%;
}
.top-right-fade{
	top: 21%;
	left: 70%;
}
.bottom-right-fade{
	top: 70%;
	left: 70%;
}
.bottom-left-fade{
	top: 70%;
	left: 25%;
}

.left-img{
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-70%,-50%);
	width: 10%;
	height: 20%;
}
.right-img{
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-30%,-50%);
	width: 10%;
	height: 20%;
}
