{% extends "base.html" %}
{%block title%}MetroBoard{%endblock%}

{%block content%}
	
	<h1>About me:</h1>
		<p>Hi my name is Oren and this is Metro2.0!</p>
	<h1>About Metro2.0:</h1>
		<p>This project is for my bagrut in cyber class. The main reason I made this project is to improve my skills in web development and in networks. I wanted to apply the knowledge I've gained over the years in order to make the last grand project</p>
		<p>I would like to personally thank all those who helped me improve over the years and especially to my teacher Itay who showed me non stopping support and stuck with me throughout the years in addition to teaching me the most important skills and giving me the best tools I could have ever asked for.</p>
	<h1>Main Attractions:</h1>
		<p>-Creating Chats ("stations") and customizing them. You can also invite people to it.</p>
		<p>-Creating Support Posts ("like a blog").</p>
		<p>-Buy Color Palettes ("themes") from the vendor and changing the website's style. You can do so in the settings page.</p>
		<p>-Play Games. You can either play alone or with friends, and earn coins ("bullets") accordingly.</p>
		<p>-Use commands. use /help for guidance.</p>
		<p>-Use /tts, for accessibility.</p>
		<p>-Recover lost password via email recovery system.</p>
{%endblock%}