{% extends "base.html" %}
{%block title%}MetroFeatures{%endblock%}

{%block content%}
	
	<div>Metro Features text</div>
	<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maxime fugiat, ea neque natus officia, assumenda esse iste consequatur, quos ducimus reiciendis non. Temporibus excepturi nihil deserunt sunt animi ad. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis non minus veniam voluptatibus veritatis ullam quam. Vitae dolores possimus doloribus provident laborum labore officia, quidem eveniet blanditiis veritatis dignissimos nobis.</div>
	<div>Lorem ipsum dolor sit amet.</div>


{%endblock%}