{% extends "base.html" %}
{%block title%}MetroGames{%endblock%}

{%block content%}

<!-- SOCKETIO CLIENT LIBRARY -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script src="{{url_for('static',filename = 'js/game-sockets.js')}}"></script>

<link rel="stylesheet"  type = "text/css" href="{{url_for('static',filename = 'css/games.css')}}">


<!-- Looking for a game :  not session['chose_game'] -->
{% if not session['currgame'] %}
<div class="metro-game-container">
	<!-- Chat Box -->
	<div class="gamebox">
		<table class="table table-hover">
			<thead>
				<tr style="background-color:var(--metro_accents)">
					<th scope="col">Icon</th>
					<th scope="col">Name</th>
					<th scope="col">Cost</th>
					<th scope="col">Prize</th>
					<th scope="col">Max Players</th>
				</tr>
			</thead>
			<tbody style="cursor:pointer" id="choose_game_table">
				<!-- Pong : -->
				<tr class="table-dark" onclick="choose_game('pong')">
					<th scope="row">GAME IMG</th>
					<td>Pong</td>
					<td>5B</td>
					<td>10B</td>
					<td>2</td>
				</tr>
				<!-- Snake : -->
				<tr class="table-dark" onclick="choose_game('snake')">
					<th scope="row">GAME IMG</th>
					<td>Snake</td>
					<td>Free</td>
					<td>5B</td>
					<td>1</td>
				</tr>

				<!-- Arm Wrestling : -->
				<tr class="table-dark" onclick="choose_game('armwrestle')">
					<th scope="row">GAME IMG</th>
					<td>Arm Wrestling</td>
					<td>5B</td>
					<td>10B</td>
					<td>2</td>
				</tr>

				<!-- Breakout : -->
				<tr class="table-dark" onclick="choose_game('breakout')">
					<th scope="row">GAME IMG</th>
					<td>Breakout</td>
					<td>5B</td>
					<td>10B</td>
					<td>1</td>
				</tr>

				<!-- Achtung : -->
				<tr class="table-dark" onclick="choose_game('achtung')">
					<th scope="row">GAME IMG</th>
					<td>Achtung</td>
					<td>5B</td>
					<td>20B</td>
					<td>4</td>
				</tr>

				<!-- TicTacToe : -->
				<tr class="table-dark" onclick="choose_game('tictac')">
					<th scope="row">GAME IMG</th>
					<td>Tic Tac Toe</td>
					<td>5B</td>
					<td>10B</td>
					<td>2</td>
				</tr>
			</tbody>

		</table>
	</div>
	<!-- Chat Box -->
	<div class="chatbox" style="color:var(--metro_energy)">
		<table class="table table-hover">
				<tr>
					<th scope="col" style="background-color:var(--metro_accents)">Metro Game Station</th>
				</tr>
				<tr>
				<td id="chat" style="background-color:var(--metro_accents);color:var(--metro_energy);padding-bottom: 1%;">Welcome to the game station!</td>
				</tr>
				<footer class="bottom_footer" style="background-color:var(--metro_accents)">
					<input class="bottom_input" type="text" id="myMessage"  style="color:var(--metro_primary);background-color:var(--metro_tertiary)">
					<button class="bottom_button right_button" id="sendbutton" onclick="send_msg()">Send</button>
				</footer>
		</table>
	</div>
</div>

		<!-- Modal - Join a Game -->
		<div class="modal fade center-modal" id="join_game_modal" role="dialog">
			<div class="modal-dialog">
		
			<!-- Modal Join a Game content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close closebtn fas fa-times" data-dismiss="modal"></button>
					<h4 style="color:var(--metro_primary)" class="fas fa-subway modal-title modal-icon-left"></h4>
					<h4 style="color:var(--metro_primary)" class="modal-title modal-title-left">Invitation</h4>
				</div>
					<div class="modal-body">
						<label style="color:var(--metro_primary)">You have been invited by <span style="color:var(--metro_tertiary)" id ="join_username"> insert name here</span> to a game of <span style="color:var(--metro_tertiary)" id ="join_game_name"> insert game name here</span> would you like to join it?</label>

					</div>
					<div class="modal-footer">
						<button class = "btn btn-primary" onclick="modal_join_game()">Accept</button>
						<button class ="close closebtn btn btn-primary" data-dismiss="modal">Decline</button>
						
					</div>
				</div>	
			</div>
		</div>

<!-- Chose a Game + In lobby :elif not session['game_started'] -->
{% elif not session['startedgame'] %}
	<div class="metro-game-container">
	<!-- Chat Box -->
	<div class="chatbox-lobby" style="color:var(--metro_energy);background-color:var(--metro_secondary)">
		<table class="table table-hover" style="background-color:var(--metro_secondary)">
				<tr>
					<th scope="col" style="background-color:var(--metro_accents);text-align:center">Metro Lobby Station</th>
				</tr>
				<tr>
				<td id="chat" style="background-color:var(--metro_secondary);color:var(--metro_energy);padding-bottom: 1%;">Welcome to the lobby station!</td>
				</tr>
				<footer class="bottom_footer_game infront" style="background-color:var(--metro_accents)">
					<input class="bottom_input" type="text" id="myMessage"  style="color:var(--metro_primary);background-color:var(--metro_tertiary)">
					<button class="bottom_button right_button" id="sendbutton" onclick="send_msg()">Send</button>
				</footer>
		</table>
	</div>

	<!-- Player List Box -->
	<div class="playerbox">
		<table class="table table-hover">
				<tr  style="background-color:var(--metro_accents)">
					<th scope="col" style="background-color:var(--metro_accents)">
						<button class="top-button" style="margin-right:3%;margin-left:10%;display:inline-block" onclick="check_start('start')">Start</button>
						Metro Lobby Station
						<button class="top-button" style="display:inline-block;margin-right:10%;margin-left:3%" onclick="exit_game('exit')">Exit</button>
					</th>

				</tr>
				<tr>
					<td id="players" style="background-color:var(--metro_secondary);color:var(--metro_energy);padding-bottom: 1%;">Current Players:
					</td>
				</tr>
		</table>

	</div>

</div>


<!-- Game Started : -->
{% else %}
	<!-- Game Box -->
	<div class="gamebox-game" style="color:var(--metro_energy);background-color:var(--metro_accents)">
		<table class="table table-hover" style="background-color:var(--metro_accents);margin:0">
				<tr>
					<th scope="col" style="background-color:var(--metro_secondary);text-align:center;height:10%">GAME NAME</th>
				</tr>
		</table>

		<canvas id="mycan" style="border:1px;border-style:solid;border-color:var(--metro_energy);background-color: var(--metro_accents);width: 100%;height: 90%; margin:0;"></canvas>
		
		<span style="color:var(--metro_energy);display:none" id="funny">Lmao</span>
		<span style="color:var(--metro_tertiary);display:none" id="funny2">Lmao</span>
		<div>
				
			{% if session['currgame'] == "pong" %}
			<p style="color:var(--metro_energy);float:left;margin-left:1%" id="score1">Player 1 Score : <span id="p1score">0</span></p>
			<p style="color:var(--metro_energy);text-align:right;overflow:hidden;text-align:right;margin-right:1%" id="score2">Player 2 Score : <span id="p2score">0</span></p>
			{% elif session['currgame'] == "snake" %}
			<p style="color:var(--metro_energy);float:left;margin-left:1%" id="score1">Player Score : <span id="pscore">0</span> </p>
			{% else %}
			<p>funny</p>

			{% endif %}

		</div>
	</div>

	<!-- Player List Box + Chat Box -->
	<div class="right-box-container">
		<div class="playerbox-game">
			<table class="table table-hover">
					<tr  style="background-color:var(--metro_secondary)">
						<th scope="col" style="background-color:var(--metro_secondary)">
							Metro Game Station
							<button class="top-button" style="display:inline-block;margin-right:10%;margin-left:3%" onclick="exit_game('exit')">Exit</button>
						</th>

					</tr>
					<tr>
						<td id="players" style="background-color:var(--metro_accents);color:var(--metro_energy);padding-bottom: 1%;">Current Players:
						</td>
					</tr>
			</table>
		</div>
		<div class="chatbox-game">
			<table class="table table-hover">
					<tr  style="background-color:var(--metro_secondary)">
						<th scope="col" style="background-color:var(--metro_secondary)">Metro Game Station</th>
					</tr>
				<tr>
				<td id="chat" style="background-color:var(--metro_accents);color:var(--metro_energy);padding-bottom: 1%;">Welcome to the game station!</td>
				</tr>
				<footer class="bottom_footer_game infront" style="background-color:var(--metro_secondary)">
					<input class="bottom_input" type="text" id="myMessage"  style="color:var(--metro_primary);background-color:var(--metro_tertiary)">
					<button class="bottom-button-game right_button" id="sendbutton" onclick="send_msg()">Send</button>
				</footer>
			</table>

		</div>
	</div>

<script src="{{url_for('static',filename = 'js/games/' +session['currgame']+ '.js')}}"></script>

{% endif %}
{% endblock %}