{% extends "base.html" %}
{%block title%}MetroStation{%endblock%}

{%block content%}
	<!-- SOCKETIO CLIENT LIBRARY -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	
	{% if not session['user'] %}
		
		<link rel="stylesheet"  type = "text/css" href="{{url_for('static',filename = 'rain.css')}}">
		<link rel="stylesheet"  type = "text/css" href="{{url_for('static',filename = 'light-text.css')}}">
		<link rel="stylesheet"  type = "text/css" href="{{url_for('static',filename = 'index-train.css')}}">


		<section class="rain"></section>
		<!-- Rain in JS -->
		<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename = 'assets/js/rain.js')}}"></script>
		<!-- Train Moving Sounds -->
		<audio autoplay loop autoplay="autoplay" id="metro_ambience">
			<source src="{{url_for('static',filename = 'assets/audio/metro_ambience.mp3')}}" type="audio/mpeg">
		</audio>
		<script src="{{url_for('static',filename = 'assets/js/playaudio.js')}}"></script>

		<a href="/login">
		<div class="body-text">
			<span id="L">L</span>
			<span id="O">O</span>
			<span id="G">G</span>
			<span id="L">&#8205;</span>
			<span id="I">I</span>
			<span id="N">N</span>
		</div></a>

		<img class="left-img" src="{{url_for('static',filename = 'assets/images/logo/logoinverted.png')}}" style="opacity: 0.008">
		<img class="right-img" src="{{url_for('static',filename = 'assets/images/logo/logoinverted.png')}}" style="opacity: 0.008">

		<div class="rail rail-bottom"></div>
		<!-- Train block hider -->
		<div class="train-hider-right train-hider-color"></div>
		<div class="train-hider-left train-hider-color"></div>
		<!-- Train and Rails with animations -->
		<img class="train train-moving-right train-bottom" src="{{url_for('static',filename = 'assets/images/train/metro-train.png')}}" style="opacity: 0.3">
		<div class="rail rail-bottom"></div>

		<img class="train train-moving-left train-top" src="{{url_for('static',filename = 'assets/images/train/metro-train.png')}}" style="opacity: 0.3">
		<div class="rail rail-top"></div>

		<!-- Train fade blocks -->
		<div class="train-fade-box top-left-fade fade-right"></div>
		<div class="train-fade-box top-right-fade fade-left"></div>
		
		<div class="train-fade-box bottom-left-fade fade-right"></div>
		<div class="train-fade-box bottom-right-fade fade-left"></div>
		
	{% else %}

	<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename = 'assets/js/index-utility.js')}}"></script>
	<script src="{{url_for('static',filename = 'assets/js/index-sockets.js')}}"></script>
	<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename = 'assets/js/index-modals.js')}}"></script>

	<!-- CSS styling -->
	<link rel="stylesheet"  type = "text/css" href="{{url_for('static',filename = 'index.css')}}">

	<!-- SideNav -->
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn fas fa-times" onclick="closeNav()"></a>

		<a href="javascript:void(0)" class="addchat fas fa-plus" data-toggle="modal" data-target="#cchat_modal"></a>
		<hr style="height:1px;background-color:#FFC30F">
		
		<a href="javascript:void(0)" onclick=join_chat("general");set_title("general")><img style = "width:64px;height:64px" src="{{url_for('static',filename = 'assets/images/logo/logoinverted.png')}}">General</a>
		<hr style="height:1px;background-color:#FFC30F">
		{% for chat in chats %}
			<a class="sidenav-title-a" href="javascript:void(0)" onclick=join_chat('{{chat.string_id}}');set_title('{{chat.title}}')><img class ="sidenav-img-pos" style = "width:64px;height:64px" src="{{url_for('static',filename = 'assets/images/logo/logo.png')}}">{{chat.title}}</a>
			<hr style="height:1px;background-color:#FFC30F">
		{% endfor %}
	</div>

	<!-- Upper Footer -->
	<footer class="top_footer infront bg-primary">
		<span class = "top-footer-burger" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
		<div class="dropdown">
			
			<button class="top-footer-options fas fa-ellipsis-v btn dropdown-toggle" type="button" id="options_topfooter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:30px;cursor:pointer">
			</button>

			<div class="dropdown-menu dropdown-menu-colors" aria-labelledby="options_topfooter">
				<a class="dropdown-item" href="javascript:void(0)">Settings</a>
				<a class="dropdown-item" href="javascript:void(0)">Info</a>
				<a class="dropdown-item" href="" onclick="delete_server('{{session['chatID']}}')" style ="color:#FFC30F">Delete Server</a>
			</div>
		</div>
		
		<a class="top-footer-title" href="javascript:void(0)" id="footertitle" style="color: #818181;font-size:25px;text-decoration:none" onclick="javascript:void(0)"  data-toggle="modal" data-target="">
		<img class = "top-footer-img" src="{{url_for('static',filename = 'assets/images/logo/logo.png')}}"> 
		<span id="footer_title_text">general</span>
		</a>
		
	</footer>

	<!-- Bottom Footer -->
	<footer class="bottom_footer infront bg-primary">
		<input class="bottom_input" type="text" id="myMessage"  style="color:#FFC30F;background-color:#505050">
		<button class="bottom_button right_button" id="sendbutton">Send</button>
	</footer>

	<!-- MAIN CHAT BOX -->
	<div class="mainbox center" style="color:white" id="mainbox_chat" onscroll ="disable_auto_scroll()">
		<ul>
			<li id="chat" style="padding-top:8%"> This is the beginning of your conversation!</li>
		</ul>
	</div>
	<!-- Modal - Add a chat -->
		<div class="modal fade center-modal" id="cchat_modal" role="dialog">
			<form method = "post" action = "/">
				<div class="modal-dialog">
			
				<!-- Modal add chat content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close closebtn fas fa-times" data-dismiss="modal"></button>
						<h4 style="color:#FFC30F" class="fas fa-subway modal-title cchat-modal-icon-left"></h4>
						<h4 style="color:#FFC30F" class="modal-title cchat-modal-title-left">New Station</h4>
					</div>
						<div class="modal-body">
							<label for="cchat_modal_title fas" style="color:#FFC30F;font-weight: 900">Title</label>
							<input type="text" class ="form-control" id="cchat_modal_title" name="cchat_modal_title_name" placeholder="Your Station's name | Max 25" maxlength="25" minlength="4">
			
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-primary" value = "Submit" onclick="close_cchat_modal();this.form.submit(); this.disabled=true; this.value='Establishing…';" id="cchat_createbtn">

						</div>
					</div>	
				</div>
			</form>
		</div>

	<!-- Modal - Add members to a group -->
		<div class="modal fade center-modal" id="amchat_modal" role="dialog">
			<form method = "post" action = "/">
				<div class="modal-dialog">
			
				<!-- Modal add chat content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close closebtn fas fa-times" data-dismiss="modal"></button>
						<h4 style="color:#FFC30F" class="fas fa-subway modal-title amchat-modal-icon-left"></h4>
						<h4 style="color:#FFC30F" class="modal-title amchat-modal-title-left">Recruit new members</h4>
					</div>
						<div class="modal-body">
							<label for="amchat_modal_title fas" style="color:#FFC30F;font-weight: 900">Member's Nickname</label>
							<input type="text" class ="form-control" id="amchat_modal_member_name_id" name="amchat_modal_member_name" placeholder="Member's Name" maxlength="12">
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-primary" value = "Submit" onclick="close_amchat_modal();this.form.submit(); this.disabled=true; this.value='Recruiting…';" id="amchat_createbtn">
						</div>

					</div>	
				</div>
			</form>
		</div>

	<!-- DropDown Functionality Section -->

	<!-- Modal - DROPDOWN SETTINGS -->
		<div class="modal fade center-modal" id="ddsettings_modal" role="dialog">
			<form method = "post" action = "/">
				<div class="modal-dialog">
			
				<!-- DROPDOWN SETTINGS content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close closebtn fas fa-times" data-dismiss="modal"></button>
						<h4 style="color:#FFC30F" class="fas fa-subway modal-title ddsettings-modal-icon-left"></h4>
						<h4 style="color:#FFC30F" class="modal-title ddsettings-modal-title-left">Recruit new members</h4>
					</div>
						<div class="modal-body">
							<label for="ddsettings_modal_title fas" style="color:#FFC30F;font-weight: 900">Member's Nickname</label>
							<input type="text" class ="form-control" id="ddsettings_modal_member_name_id" name="ddsettings_modal_member_name" placeholder="Member's Name" maxlength="12">
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-primary" value = "Submit" onclick="close_ddsettings_modal();this.form.submit(); this.disabled=true; this.value='Recruiting…';" id="ddsettings_createbtn">
						</div>

					</div>	
				</div>
			</form>
		</div>

	<!-- Modal - DROPDOWN INFO -->
		<div class="modal fade center-modal" id="ddinfo_modal" role="dialog">
			<form method = "post" action = "/">
				<div class="modal-dialog">
			
				<!-- Modal DROPDOWN INFO content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close closebtn fas fa-times" data-dismiss="modal"></button>
						<h4 style="color:#FFC30F" class="fas fa-subway modal-title ddinfo-modal-icon-left"></h4>
						<h4 style="color:#FFC30F" class="modal-title ddinfo-modal-title-left">Recruit new members</h4>
					</div>
						<div class="modal-body">
							<label for="ddinfo_modal_title fas" style="color:#FFC30F;font-weight: 900">Member's Nickname</label>
							<input type="text" class ="form-control" id="ddinfo_modal_member_name_id" name="ddinfo_modal_member_name" placeholder="Member's Name" maxlength="12">
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-primary" value = "Submit" onclick="close_ddinfo_modal();this.form.submit(); this.disabled=true; this.value='Recruiting…';" id="ddinfo_createbtn">
						</div>

					</div>	
				</div>
			</form>
		</div>

	{% endif %}

{%endblock%}