{% extends "base.html" %}
{%block title%}MetroStation{%endblock%}

{%block content%}
	<!-- SOCKETIO CLIENT LIBRARY -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	
	{% if not session['user'] %}
		<strong><b>Welcome to the official Metro platform! Log in to continue! </b></strong>
	{% else %}

	<script type="text/javascript" charset="utf-8">
		var tts = new SpeechSynthesisUtterance();
		/* SideNav function */
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}

		/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}

		/* Auto Scroll Function */
		var userHasNotScrolled = true;
		
		function disable_auto_scroll(){
			userHasNotScrolled = false;
		}

		function auto_scroll(){
			var $panel = $('.mainbox');
			var shouldScroll = $panel[0].scrollHeight - $panel.height() <= $panel.scrollTop() + 50;
			if (userHasNotScrolled){
				if (shouldScroll) {
						$panel.scrollTop($panel[0].scrollHeight);
				}
			}
			userHasNotScrolled = true;
		}
		setInterval(auto_scroll, 10);

	
		// function change_voices(){
		// 	var synth = window.speechSynthesis;
		// 	var voices = synth.getVoices();
		// 	console.log(voices);
		// 	tts.voice = voices[2];
		// }


		const socket = io('https://' + document.domain + ':' + location.port ,{ secure: true });
		const private_socket = io('https://' + document.domain + ':' + location.port + "/private_chat" ,{ secure: true });
	
		// Notify user when connected in logs
		socket.on('connect', function() {
			console.log("connected to global chat");
		});

		// Message recieving function
		socket.on("message", function(msg) {
			console.log("recieved message");
			msg = msg.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g,"&quot;");
			$("#chat").append('<li>'+msg+'</li>');
			tts.text = msg;
			//speechSynthesis.speak(tts);
		});
		// Private Message recieving function
		private_socket.on("private_message", function(msg) {
			console.log("recieved private message");
			msg = msg.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g,"&quot;");
			$("#chat").append('<li style="color:#FFC30F">'+ "[W] " + msg +'</li>');
			tts.text = msg;
			//speechSynthesis.speak(tts);
		});

		//Connect html input and js socketio to send messages 
		$('#sendbutton').on('click', function() {
			send_msg();
		});

		//Allow users to press enter when using input instead of clicking the button
		$(document).ready(function() {
		var input = document.getElementById("myMessage");
		input.addEventListener("keyup", function(event) {
			// Number 13 is the "Enter" key on the keyboard
			if (event.keyCode === 13) {
				// Cancel the default action, if needed
				event.preventDefault();
				// Trigger the button element with a click
				send_msg();
			}
		});
			
			});

		/* Send Message */
		function send_msg(){
			if($('#myMessage').val()){
			var msg_listed = $('#myMessage').val().split(" ");
			var invalid_command = true;
			/* Check if user wants to send a private message */
			if(msg_listed.length >= 3){
				if(msg_listed[0] == "/w"){
					private_socket.emit("private_message", $('#myMessage').val());
					$('#myMessage').val("");
					console.log("private message sent");
					invalid_command = false;
				}
				

			}
			/* Send Global Message */
			if(invalid_command){
			console.log("sent message");
			socket.emit("message", $('#myMessage').val());
			$('#myMessage').val("");
			}

			}
		}
		/* Set Title on top nav */
		function set_title(title){
			document.querySelector("#footertitle span").innerHTML = title;
		}
		/* Send chatname */
		function join_chat(cid){
			private_socket.emit("join_private", cid)
		}

	</script>

	<!-- CSS styling -->
	<link rel="stylesheet"  type = "text/css" href="{{url_for('static',filename = 'index.css')}}">

	<!-- SideNav -->
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<hr style="height:1px;background-color:#FFC30F">
		{% for item in chats %}
			<a href="javascript:void(0)" onclick=set_title("{{item.title}}");join_chat("{{item.string_id}}")><img src="lmao">{{item.title}}</a>
			<hr style="height:1px;background-color:#FFC30F">
		{% endfor %}
	</div>

	<!-- Upper Footer -->
	<footer class="top_footer infront bg-primary">
		<span class = "top-footer-burger" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
		<a class="top-footer-title" href="javascript:void(0)" id="footertitle" style="color: #818181;font-size: 25px"><img class = "top-footer-img" src="{{url_for('static',filename = 'assets/images/logo/logo.png')}}"> <span>General</span></a>
	</footer>

	<!-- Bottom Footer -->
	<footer class="bottom_footer infront bg-primary">
		<input class="bottom_input" type="text" id="myMessage"  style="color:#FFC30F;background-color:#505050">
		<button class="bottom_button right_button" id="sendbutton">Send</button>
	</footer>

	<!-- MAIN CHAT BOX -->
	<div class="mainbox center" style="color:white" id="mainbox_chat" onscroll ="disable_auto_scroll()">
		<ul>
			<li id="chat" style="padding-top:8%"> This is the beginning of your conversation!</li>
		</ul>
	</div>

	{% endif %}

{%endblock%}