{% extends "base.html" %}
{%block title%}MetroRegister{%endblock%}
{%block content%}

	<link rel="stylesheet"  type = "text/css" href="{{url_for('static',filename = 'css/form.css')}}">
		<form  class = "box" method = "post" action = "" style= "text-align:center">
			<h1 style="color:var(--metro_primary);font-size:45px;font-family:Metro}">Metro Registeration</h1>
			</br>
			<label for="mail" style ="color:var(--metro_energy);font-size:20px">Email</label>
			<input type = "email" id = "mail" name = "email" required>
			<label for="user" style ="color:var(--metro_energy);font-size:20px">Username</label>
			<input type = "text" id = "user" name = "username" required maxlength="12" minlength="3">
			<label for="pass" style ="color:var(--metro_energy);font-size:20px">Password</label>
			<input type = "password" id = "pass" name = "password" required minlength="8">
			<label for="pass" style ="color:var(--metro_energy);font-size:10px">never share your password with anyone!</label>
			<input type = "submit" value="Sign Up">
			<p style ="color:var(--metro_energy);font-size:10px">already have a user? <a style = "color:var(--metro_primary)" href="/login">Sign In</a></p>
			<p style ="color:var(--metro_energy);font-size:10px">{{err}}</p>
		</form>

{%endblock%}
